/* img{
    object-fit: cover;
} */

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }

body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.layout{
    margin:0 auto;

}
.header{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.top{
   padding-top: 30px;
   padding-bottom: 30px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    
}

.group-option-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.option-menu{
    color: #353945;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500px;
    text-align: center;
}

.group-notification{
    display: flex;
    width: 169px;
    justify-content: space-between;
    align-items: center;
}

.notification{
    color:  #777E90;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.line{
    width: 1px;
    height:32px ;
    opacity: 0.5;
    background:  #B1B5C3;
} 

.line-review{
    width: 1px;
    height: 52px;
    background: #E6E8EC;
    margin-left: 26px;
    margin-right: 5px;
}

.group-title{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.group-title-left{
    position: relative;
    display: flex;
    flex-direction: row;
}

.group-title-main{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    width: 500px;
}

.describe-main-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 30px;
    margin-right: 200px;
    color: #777E90
}
.title{
    font-size: 64px;
    font-weight: 800;
    color: #353945;
}

.color-yellow{
    color: #F5B318;
}

.decorate-title-left{
    position: absolute;
    bottom: 200px;
    left: 0px;
}

.icon-decorate-title-left{
    width: 163.048px;
    height: 62.583px;
    transform: rotate(-19.16deg);
    flex-shrink: 0;
}

.group-plan{
    width: 317px;
    display: flex;
    justify-content: end;
    border-radius: 31px;
    padding:8px 8px 8px 44px ;
    box-shadow: -16px 22px 42px 0px rgba(0, 31, 77, 0.12);
    margin-top: 48px;
}

.input-plan-a-trip{
    border: none;
    outline: none;
    color:#23262F;
    font-size: 20px;
    font-weight: 700;
}
.arrow{
    width: 52px;
    height: 52px;
    padding: 10px;
    justify-content: center;
    border-radius: 100%; 
    background: #3B71FE;
    border: none;
}


.group-review{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 10px
}

.describe-review{
    color:  #777E90;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.review-content{
    display: flex;
    flex-direction: row;
}

.group-star{
    display: flex;
    flex-direction: column;
}
.describe-start{
    color: #141416;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.img-start{
    width: 100px;
    height: 18px;
    margin: 0px;
}

.result-review
{
    color:#3B71FE;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.describe-result-review{
    color: #777E90;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.ml-14{
    margin-left: 14px;
}
 .ml-10{
    margin-left: 10px;
 }
.height-50{
    height: 50px;
}
.width-500{
    width: 500px;
}
.image-title{
    object-fit: cover;
    margin-top: -100px;
    margin-bottom: -4px;
  
    
}

.group-guide-support{
    position: absolute;
    top: 430px;
    left: 191px;
    bottom: 19px;
    padding: 18px 26px 18px 25px;

    border-radius: 20px;
    background: linear-gradient(193deg, rgba(255, 255, 255, 0.29) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 0px 53.89999771118164px 0px rgba(0, 163, 255, 0.05);
    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;  
}

.icon{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-dashed-circle{
    position: absolute;
    top: 8.5px;
    left: 8.5px;
}
.icon-camera{
    position: absolute;
    top: 18px;
    left: 30px;
}
.btn-live{
    width: 38px;
    height: 14px;
    padding: 2px;
    border-radius: 3px;
    background: #FFF; 
    color: #3B71FE;
    font-size: 12px;
    font-weight: 700;
    line-height: 8px;
    border: none;

    position: absolute;
    top:48px;
    left: 23px;;
}

.title-camera-icon{
    margin-top: 17px;
    color:#353945;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.describe-camera-icon{
    color:  #777E90;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.partner{
    display: flex;
    background:  #F4F5F9;
    justify-content: center;
     padding-top: 70px;
     padding-bottom: 70px;

}

.group-branch{
    display: flex;
    gap: 40px ;
}

.logo-branch{
    width: 113px;
    height: 15px;
}

.trip-planning{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.box-trip-planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.title-trip-planning{
    display: flex;
    flex-direction: column;
     text-align: center;
     max-width: 500px;
     gap: 24px;
}

.title-plan{
    color: #23262F; 
    font-size: 40px;
    font-weight: 700;
}

.describe-title-plan{
    color:  #353945;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px ;
    line-height: 26px;
    
}
.content-trip-planning{
    display: flex;
    align-items: center;
    gap: 30px;
}

.group-benefit{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 240px;
    text-align: center;
    width:275px; 
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing:border-box ;
}

.px-50{
    padding-left: 50px;
    padding-right: 50px;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.px-35{
    padding-left: 35px;
    padding-right: 35px;
}
.bg-light-green{
    background:  #EEF9F2;
}
.learn-more{
    display: flex; 
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0px
    }
.icon-lean-more{
    display: flex; 
    align-items:center;
}

.bg-light-orange{
    background: #FFF4EE;
}

.bg-light-blue{
    background-color: #EBF1FF
}
.lh-24{
    line-height: 24px;
}
.lh-20{
    line-height: 20px;
}


.book-steps{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: center;
}
.describe-set-up{
    color: #F4F5F6;
    font-size: 16px;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 18px;
}
.describe-option-trip{
    color: #E6E8EC;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
    margin-left: 27px;
}
.content-book{
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    gap: 100px;
   
}

.content-book-left{
    display: flex;
    flex-grow: 1;
    border-radius: 39px;
    background: #FEE2B6;
    align-items: center;
    flex-direction: column;
}

.box-create-trip{
    display: flex;
    border-radius: 30px;
    background: #3B71FE;
    margin: 40px 70px;
    flex-direction: column;
}

.items-create-trip{
    display: flex;
    margin: 25px 38px;
    margin-right: 70px;
    background:  #3B71FE;
    flex-direction: column;

}

.item-create{
    color: #FFF;
    font-family:  "Inter", sans-serif;;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; 
    
}
.option-trip{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    position: relative;
}

.option-plan-a-trip{
    display: flex;
    padding: 8px 16px;
    border-radius: 10px;
    background:  #FFF;
    justify-content: space-between;
    width: 250px;
}

.items-cost-trip
{
    display: flex;
    border-radius: 0px 0px 30px 30px;
    background: #FFF;
    flex-grow: 1;
   
}
.box-cost-trip{
    margin-top: 10px;
    margin-bottom: 25px;
}
.base-describe{
    color:#353945;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.color-light-gray{
    color: #E6E8EC;
}
.base-small-title{
    color:#F4F5F9;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.fw-500{
    font-weight: 500;
}
.fw-400{
    font-weight: 400;
}
.mb-20{
    margin-bottom: 20px;
}

.mt-30{
    margin-top: 30px;
}
.ml-7{
    margin-left: 7px;
}

.fs-8{
    font-size: 8px;
}
.fs-12{
    font-size: 12px;
}
.fs-16{
    font-size: 16px;
}

.fs-30{
    font-size: 30px;
}

.fw-600{
    font-weight: 600;
}
.color-gray{
    color: #353945;
}
.img-line-trip{
   position: absolute;
   top: 12px;
   right: 12px;
   display: none;
}
.cost{
    color: #353945;
    text-align: center;
    font-family: "Inter" , sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-left: 38px;
}
.fs-14{
    font-size: 14px;
}

.fs-24{
    font-size: 24px;
}
.paging{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.page{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #353945;
}

.color-gray-3{
    color: #777E90;
}

.content-book-right{
    display: flex;
    flex-direction: column;
    max-width: 540px;
}

.base-title{
    color:  #23262F;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -0.4px;
}

.base-row{
    display: flex;
    flex-direction: row;
}

.dashed-line{
    
    height: 1px;
    display: flex;
    flex-grow: 1;
    border-top: 1px dashed   #777E90;
}

.mt-20{
    margin-top: 20px;
}

.mt-10{
    margin-top: 10px;
}

.fs-18{
    font-size: 18px;
}
.avatar{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.base-colum{
    display: flex;
    flex-direction: column;
}
.bd-radius-100{
    border-radius: 100%;
}
.gap-10{
    gap: 10px;
}

.trip-booking{
    display: flex;
    justify-content: center;
    background: #EAF0FF;
}
.describe-trip-booking{
    color:  #353945;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
.content-trip-booking{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 71px 35px;
}
.title-trip-booking{
    max-width: 530px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.trip-booking-box{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 20px;

}
.item-trip-booking{
    border-radius: 10px;
    border: 1.106px solid #F4F5F6;
    background: #FFF;
    box-shadow: 0px 2.21276593208313px 8.85106372833252px 0px rgba(15, 15, 15, 0.08);
}
.item-trip-booking{
    padding: 22px 22px 15px 27px; 
}
.content-item-trip{
    max-width: 114px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.title-item-trip{
    color: #353945;
    font-size: 14px;
    font-weight: 600;
}
.describe-item-trip {
    color:#777E90;
    font-size: 11px;
    font-weight: 500;
    line-height: 16.596px
}
.content-trip-booking-rigth{
    display:flex;
    padding: 30px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background:#FFF;
    box-shadow: 0px 14px 40px -15px rgba(15, 15, 15, 0.08);
}

.w-h-40{
    width: 40px;
    height: 40px;
}

.w-h-22{
    width: 22px;
    height: 22px;
}

.fs-11{
    font-size: 11;
}

.box-content-trip{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 110px;
}
.btn-book{
    width: 87px;
    height: 33px;
    border-radius: 10px;
    background: #FA8F54;
    border: none;
    color: #FFF;
    text-align: center;
}
.al-it-center
{
    display: flex;
    align-items: center;
}

.base-pst-relative{
    position: relative;
}

.btn-trip-book{
   position: absolute;
   top: 40%;
   right: 15px;
 
}
.mt-negative-10{
    margin-top: -10px;
}

.how-its-work{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.box-how-its-work{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 90px;
    align-content: space-between;
}

.how-its-work-left{
    height: 648px;
    min-width:650px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.message{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 23px;
    align-items: center;
    bottom: 0px; 
    left: 0px;
    border-radius: 20px;
    background:#FFF;
    box-shadow: 0px 12px 120px -10px rgba(0, 0, 0, 0.08);
}

.btn-message{
    display: flex;
    width: 184px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background:  #3B71FE;
}

.base-content-btn{
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
}

.book-now{
    position: absolute;
    top: 8px;
    left: 170px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 30px;
    border-radius: 16px;
    background: #FFF; 
    box-shadow: 0px 40px 126px -10px rgba(0, 0, 0, 0.10);
}

.bg-icon{
    display: flex;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 18px;
    background:  #EBF1FF;
}

.image-book-now{
    border-radius: 16px;
}

.icon-arrowdown{
    margin-top: 5px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.title-book-now{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.box-avatar-book-now{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.pst-relative{
    position: relative;
}

.pst-absolute{
    position: absolute;
}
.left-22{
    left: 22px;
}

.left-44{
    left: 44px;
}

.left-66{
    left: 44px;
}

.btn-book-now{
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #3B71FE;
    border: none;
    color: #FFF;
}

.color-gray-4{
    color: #B1B5C3;
}

.new-travellers{
    display: flex;
    padding: 22px 34px;
    flex-direction: column;
    gap: 10px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 60px 120px 0px rgba(0, 0, 0, 0.10);

    position: absolute;
    top: 120px;
    left: 430px;
}

.img-new-traveller{
    width: 32px;
    height: 32px;
}

.left-28{
    left: 28px;
}
.left-52{
    left: 52px;
}
.left-70{
    left: 70px;
}
.left-98{
    left: 98px;
}
.left-0{
    left: 0px;
}

.how-its-work-right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 430px; 
}
.lh-32{
    line-height: 32px;
}
.describe-how-work{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #353945;
    margin-bottom: 10px;
    margin-top: 24px;
}
.item-how-work{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 30px; 
}
.icon-book-now{
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.12);
    width: 24px;
    height: 24px;
    
}
.bg-icon-book-now{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 10px;
    border-radius: 100%;
    background: #FFF;
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.12);
}
.gap-24{
    gap: 24px;
}

.al-it-start{
    align-items: start;
}

.services{
    display: flex;
    background: #3B71FE;
    flex-direction: row;
    justify-content: space-between;
}

.content-services
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 70px ;
    padding-bottom: 70px;
    width: 100%;
}

.color-white{
    color: #FFF;
}

.box-services{
    display: flex;
    padding: 25px 28px 15px 28px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: #FFF;
    min-width: 230px;
    box-sizing: border-box;
}
.describe-services{
    color: #F4F5F6;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px
}
.width-full{
    width: 100%;
}

.group-board-services
{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 35px;
}

.base-top-left{
    top: 0px;
    left: 0px;
}
.base-botton-right{
    bottom: 0px;
    right: 0px;
}

.our-features
{
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: center;
}
.gap-250{
    gap: 250px;
}
.content-our-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 74px;
}

.describe-discover{
    color:#353945;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.gap-20{
    gap: 20px;
}

.box-travel-plan{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 56px;
}

.trip-plan{
    display: flex;
    padding: 100px 135px 0px 135px;
    align-items: center;
    justify-content:center;
    background: rgba(251, 246, 199, 0.80);
}

.content-trip-plan{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

.btn-go-plan{
    padding: 10px 28px;
    border-radius: 6px;
    background:  #3B71FE;
    border: none;
    text-align: center;
    width: 13%;
}

.right-content-trip-plan{
    display: flex ;
    flex-direction: column;
    position: relative;
}

.box-check-now{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 30px 36px;
    align-items: center; 
    border-radius: 24px 24px 0px 0px;
    background: #FFF;
    bottom: 0px;
    right: 0px;
    width: 100%;
    gap: 16px;
}

.box-img-group{
    padding-right: 100px; 
}

.item-check-now
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 14px;
    border-radius: 10px;
    border: 0.5px solid #D3D3D3;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(15, 15, 15, 0.12);
    align-items: center;
    width: 100%;
}

.icon-check-now{
    width: 12px;
    height: 12px;
}

.box-day{
    padding: 2px 6px;
    border-radius: 3px;
    background: #F4F5F9;  
}

.day{
    color: #FF6370;
    font-size: 6px;
    text-align: center;
}

.mt-negative-6{
    margin-top: -6px;
}

.btn-Check-now{
    border-radius: 4px;
    background: #FEE9DD;
    border: none;
    padding: 6px;
}

.content-btn-check-now{
    color: #FA8F54;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer{
    display: flex;
    align-items: center;
    padding: 68px 170px;
    flex-direction: column;
    padding-top: 68px;
    padding-bottom: 68px;
}

.box-content-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 152px;
}

.enter-email{
    display: flex;
    padding: 8px 8px 8px 26px;
    margin-top: 30px;
    border-radius: 24px;
    border: 2px solid #E6E8EC;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 46px;
}

.arrow-footer{
    background: #FFF;
    border: none;
    border-radius: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.input-enter-email{
    color:  #B1B5C3;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
}


.gap-14{
    gap: 14px;
}
.width-270{
    width: 270px;
}
.gap-30{
    gap: 30px;
}

.line-footer{
    width: 100%;
    height: 1px;
    background-color: #E6E8EC;
    margin-top: 70px;
    margin-bottom: 30px;
}

.light-option{
    width: 10px;
    height: 10px; 
    border-radius: 100%;
    border: 5px solid #FFF;
}
.dark-option{
    width: 10px;
    height: 10px; 
    border-radius: 100%;
    border: 5px solid #3B71FE;
}
.item-footer-first{
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 30px;
}
.logo-footer{
    width: 120px;
    height: 40px;
    margin-bottom: 40px;
}


.footer-below{
    display: flex;
    gap: 625px;
    align-items: center;
}

